body{
	margin: 0;
	font-family: Calibri;
	background-color: white;
}
#wrapper{
	margin-left: 10%;
	margin-right: 10%;
	background-color: #DAE1E8;
}
#header{
	border: 1px dotted black;
	background-color: white;
	height: 70px;
	width: auto;
	text-align: center;
}
#block-system-main-menu h2{
	display: none;
}
#logo{
	width: 64px;
	height: 55px;
	vertical-align: middle;
	padding-right: 10%;
	padding-bottom: 18px;
	position: absolute;
}
#logo_mobile{
	margin: 0;
	padding: 0;
	padding-bottom: 18px;
	width: 64px;
	height: 55px;
	vertical-align: middle;
	display: none;
}
.menu{
	list-style-type: none;
	font-size: 0;
	position: absolute;
	right: 0;
	margin-top: 18px;
	background-color: transparent;
	z-index: 100;
}
.menu > li{
	display: inline;
	border-right: 1px solid #446CB3;
	padding: 8px 27px;
	margin: 0 !important;
	font-size: 16px;
	margin-top: 18px;
	position: relative;
}
.menu-item:active{
	background-color: #446CB3; 
}
.submenu{ 
	position: absolute;
	list-style-type: none;
	text-align: left;
	border: 1px solid black;
	left: 0;
	top: 35px;
	background-color: white;
	padding: 0;
	min-width: 200px;
	width: auto;
	font-size: 0;
	border-top: 3px solid #446CB3;
	z-index: 100;
}
.submenu > li{
	border-bottom: 1px solid grey;
	padding: 5px;
	font-size: 16px;
	margin: 0 !important;
}
#main_menu_mobile{
	display: none;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.submenu-item a, .submenu-item a:visited, .menu li a, .menu li a:visited {
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 0;
	display: inline-block;
}
.submenu-item:hover a, .submenu li:hover a{
	color: #446CB3;
}
.views-view-grid  td{
	width: 200px;
	text-align: left;
	vertical-align: top;
	border: 1px solid #446CB3;
}
.views-view-grid  td:hover{
	cursor: pointer;
	background-color: rgba(68, 108, 179, 1);
	color: white;
}












@media screen and (max-width: 1500px) {
	#header, #wrapper{
		margin: 0;
		padding: 0;
	}
}
@media screen and (max-width: 1220px) {
	#logo{
		left: 0;
		padding: 0;
	}
}
@media screen and (max-width: 625px) {
	.menu{
		display: none;
	}	
	#main_menu_mobile{
		display: inline-block;
	}
	#logo_mobile, #header, #main_menu_mobile{
		margin: 0;
		padding: 0;
	}
	#logo_mobile{
		display: inline;
		position: absolute;
		left: 0;
	}
	.menu-item-mobile{
		display: inline;
		margin-top: 18px;
		position: relative;
	}
	#hamburger-menu:hover{
		cursor: pointer;
	}
}